<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Public/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../../Public/css/recette.css">
    <title>Mes Recettes</title>
</head>
<body>
    <nav class="MenuNavigation">
        <ul>
            <li class="nav-item">
              <a class="nav-link active" href="../Templates/Accueil.html">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Templates/mesRecettes.html">Recettes</a>
            </li>
            <li>
              <a class="nav-link" href="../Templates/parallax.html">Champagnes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Templates/listImagesRecettes.html">Photos Des Plats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Templates/formConseil.html">Idées Recettes</a>
            </li>
          </ul>
          <button id="darkTrigger"><i class="fas fa-moon"></i></button>
    </nav>
    <div class="Container">
        <main class="mainRecette">

            <h1 class="Recette">Les delices de DD</h1>
            <div class="blanquettePoisson">
            
                <p>Je suis enfin heureux de pouvoir vous partager mes recettes et j'espère que vous pourrez les réaliser facilement.</p>
                <h2>La blanquette de poisson</h2>
                <a  href="https://www.cuisineactuelle.fr/recettes/blanquette-de-poissons-240416">
                    <img class="imageBlanquette"  title="Voir la recette" src="../../Public/Images/blanquettePoisson.jpeg" alt="recette blanquette de poisson" width="700" height="300">
                </a>

            </div>
            
            <div class="carbonnadeFlamande">
                <h2>La Carbonnade Flamande</h2>
                <a  href="https://www.marmiton.org/recettes/recette_carbonades-flamandes-traditionnelles_29711.aspx">
                    <img class="imageCaronnade" title="Voir la recette" src="../../Public/Images/carbonnadeFlamande.jpeg" alt="recette de la carbonnade flamande"width="700" height="300">
                </a>
            </div>

        </main>
    </div>
    <div class="space">

    </div>
    <footer class="footerRecette">
        <div class="card">
            <div class="card-body">
              <a href="../Templates/mesRecettes.html" class="btn btn-primary">Les recettes de DD</a>
            </div>
          </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../../Public/Js/modeSombre.js"></script>
</body>
</html>